ALogistics/ALogistics.Console.WCFDataTransfer/Connected Services/OrderService/Order4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLogistics.Core.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLogistics.Core.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="PRODUCT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="contact_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="order_count" type="xs:int" />
      <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_transfer_status" type="xs:short" />
      <xs:element minOccurs="0" name="order_transfer_status_update_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipment_poit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="create_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="product_barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock_count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>